body{
    background: linear-gradient(0deg, rgba(247,170,170,.7) 0%, rgba(255,82,80,.5) 35%), url('../images/loginbackground.webp') no-repeat;
    min-height: 800px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    background-size: cover;
    max-height: 101vh;
    overflow-y: hidden;
}
.content-flex{
    display: flex;
    height: 92.5vh;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
h1, h2{
    text-align: center;
    width: 100%;
    margin-block: .5em;
}
.adblock{
    padding: 2em;
    background-color: #ff5250;
    border-radius: 1.5em;
    color: #fff;
    filter: drop-shadow(0 0 .5rem #ad2522);
}