body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(0deg, rgba(247,170,170,.7) 0%, rgba(255,82,80,.5) 35%), url('https://images.unsplash.com/photo-1504439468489-c8920d796a29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80') no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-body{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}