body {
    margin: 0px;
    font-family: proxima-nova, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
    scroll-behavior: smooth;
}
*,
::after,
::before {
    box-sizing: border-box;
}
/* FLEX UTILS */
.flex {
    display: flex;
}
.row{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
/* CONTAINERS */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 560px;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 740px;
        width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1175px;
    }
}
/* NAVBAR */
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 20px;
    /* box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .2), 0 20px 56px 0 rgba(0, 0, 0, .2); */
    z-index: 1001;
}
.navbar {
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    border-bottom: 1.5px solid rgba(255, 255, 255, 1);
}
.nav-container {
    min-height: 7.5vh;
}
@media (max-width: 567px) {
    .navbar {
        padding: 1rem 0;
    }
}
.navbar .container,
.navbar .container-sm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: co-headline, sans-serif;
}
.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    line-height: 1em;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    justify-content: stretch;
    width: 30vw;
}
@media (max-width: 768px){
    .navbar-brand {
        font-size: .95em;
    }
}
@media (max-width: 575.98px) {
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-sm {
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 576px) {
    .navbar-expand-sm {
        flex-flow: row nowrap;
    }
    .navbar-expand-sm .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-sm {
        flex-wrap: nowrap;
    }
}
.nav-link {
    color: #fff;
    text-decoration: none;
    align-content: center;
}
.navbar-toggle {
    display: none;
    border-width: 0;
    color: #fff;
    font-size: 1.75em;
    background: 0 0;
    padding-right: 0;
}
.nav-li{
    background: #3E3E3E;
    color: #fff;
}
@media (max-width: 576px) {
    .nav-sm {
        display: none;
        height: 0;
        z-index: 1001;
    }
    .nav-sm-open {
        display: block;
        width: 100vw;
        background-color: #000;
        color: #fff;
        padding: 0;
        height: auto;
        z-index: 1001;
    }
    .nav-item {
        padding: 0.7em 1em;
        font-size: 1.15em;
        border-bottom: 1px solid #282828;
        align-content: center;
    }
    .small-nav-container {
        border-bottom: 1.5px solid #282828;
    }
    .nav-container {
        max-height: 100vh;
        display: flex;
        min-height: 9vh;
        width: 100%;
        justify-content: space-between;
        padding-inline: 1em;
    }
    .navbar {
        padding: 0;
        border: none;
    }
    .navbar-toggle {
        display: block;
    }
    .nav-li{
        background: #3E3E3E;
    }
}

.nav-social-icon{
    fill: #fff;
    width: 1.3em;
}
.nav-social{
    color: #fff;
}

#adminmenu {
	padding-left: 0;
}

#adminmenu li {
	float: left;
	list-style: none;
	margin-right: 20px;
}

.clear {
	clear: both;
}

.error {
	padding: 0.75em;
	border: 1px solid #f70000;
	max-width: 100%;
	color: #990000;
	background-color: #fdebeb;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
}
a {
	text-decoration: none;
}
/* FOOTER */
.footer-social-icon{
    fill: #c5c5c5;
    width: 1.3em;
    margin: 0 0.5em;
}
.footer-social-icon:hover{
    fill: #fff;
    width: 1.3em;
    margin: 0 0.5em;
}
