h1{
    margin-block: 2em;
    text-align: center;
}
h2{
    margin-block: 1em;
    font-size: 1.5em;
}
.row{
    margin-block: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.poster-block{
    padding: 1em 1.5em;
    background-color: lightgrey; 
    border-radius: .5em;   
}
.poster-block p{
    font-size: 1.1em;
}
p{
    font-size: 1.2em;
    margin-block: 1em;
}
input{
    background-color: #ff5250;
    color: #fff;
    border: none;
    padding: .75em 1.5em;
    font-size: 1.3em;
    border-radius: .5em;
    cursor: pointer;
}
.form-info{
    font-size: .85em;
}