h1{
    margin-block: 2em;
    text-align: center;
}
.row{
    margin-block: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.poster-block{
    padding: 1em 1.5em;
    background-color: lightgrey; 
    border-radius: .5em;   
}