h1{
    margin-block: 2em;
    text-align: center;
}
h2{
    margin-block: 1em;
    font-size: 1.5em;
}
.row{
    margin-block: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.poster-block{
    padding: 1em 1.5em;
    background-color: lightgrey; 
    border-radius: .5em;   
}
.poster-block p{
    font-size: 1.1em;
}
p{
    font-size: 1.2em;
}